.movie-catalog {
  margin-top: 32px;
  margin-left: 8px;
  margin-right: 8px;

  display: flex;
  flex: 1;
  justify-content: center;
}

.movie-catalog ul li {
  margin-bottom: 32px;
}

.box-movie-catalog {
  background-color: #26282b;

  margin-bottom: 16px;

  padding: 8px;

  border-radius: 8px;
  border-style: none;
  box-shadow: 4px 4px 8px #000000a0;
  outline: none;

  display: flex;
  flex-direction: row;
}

.box-movie-catalog img {
  width: 120px;
}

.box-movie-description {
  margin-left: 8px;

  display: flex;
  flex: 1;
  flex-direction: column;
}

.box-movie-description label {
  color: #eeeeee;

  margin-bottom: 16px;

  font-family: "Righteous", cursive;
  text-align: left;
}

.box-movie-description p {
  color: #eeeeee;

  height: 120px;

  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;

  overflow: hidden;

  text-align: justify;
  text-overflow: ellipsis;

  display: flex;
}

.box-movie-description-icons {
  margin-top: -54px;
  margin-right: 16px;

  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.box-movie-description-icons button {
  background-color: transparent;

  margin-left: 16px;

  border-style: none;
  outline: none;
}
